<div class="card w-75" style="margin-left: 10%; margin-right: 10%; margin-top: 5%;">
    <div class="card-header">
        <h5 class="card-title">ROLES</h5>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="nombreRol" style="margin: 5px;">Descripción</label>
                <input type="rol" class="form-control" id="nombreRol" aria-describedby="emailHelp" style="margin: 5px;"
                    placeholder="Ingrese nombre de rol">
                <!-- <small id="emailHelp" class="form-text text-muted">Escriba el nombre del rol</small> -->
            </div>
            <button type="submit" class="btn btn-primary" style="margin: 5px; margin-top: 10px;" (click)="agregar()">Agregar</button>
        </form>
    </div>
</div>