<nav class="navbar navbar-expand-lg bg-body-tertiary" *ngIf="mostrar">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: 2%;">
          <li class="nav-item">
            <a class="nav-link" style="cursor:pointer; padding: 15px;" (click)="home()">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="cursor:pointer; padding: 15px;" (click)="about()">Acerca de Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="cursor:pointer; padding: 15px;" (click)="services()">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="cursor:pointer; padding: 15px;" (click)="contact()">Contacto</a>
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0" style="margin-right: 2%;">
          <li class="nav-item">
            <a class="nav-link text-primary" style="cursor:pointer; padding: 15px;" (click)="iniciarSesion()">Iniciar Sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>